@charset "UTF-8";
/* color themes */
.theme-dark-green {
    background: rgb(3, 107, 41);
}

.theme-green {
    background: rgb(33, 186, 49);
}

.theme-light-green {
    background: rgb(184, 243, 41);
}

.theme-white {
    background: rgb(255, 255, 255);
}

.theme-black {
    background: rgb(0, 0, 0);
}

.fonts-white {
    color: rgb(255, 255, 255);
}

.fonts-black {
    color: rgb(0, 0, 0);
}

.fonts-cool-gray {
    color: rgb(177, 179, 180);
}

.fonts-no-shadow {
    text-shadow: none;
}

.fonts-shadow-black {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.66);
}

.fonts-shadow-white {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.12);
}

/* measurements and positioning */
.actualWorkspace {
    width: 1200px;
}

.margin-center {
    margin: 0 auto;
}

.pads {
    padding: 24px;
}

.text-margin {
    margin-bottom: 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.position-ab {
    position: absolute;
}

.position-re {
    position: relative;
}

.textalign-right {
    text-align: right;
}

/* fonts settings */
/* FONTS */
body {
    font-family: 'Nanum Gothic', sans-serif;
}

.fonts-headline {
    font-size: 3.9375em;
    letter-spacing: -0.033em;
}

.fonts-title {
    font-size: 1.5625em;
    letter-spacing: -0.02em;
}

.fonts-subtitle {
    font-size: 1.25em;
    letter-spacing: -0.1em;
}

.fonts-article {
    font-size: 0.9375em;
    letter-spacing: -0.04em;
    line-height: 1.5em;
}

.fonts-button {
    font-size: 1.1125em;
}

.fonts-mini {
    font-size: 0.875em;
    letter-spacing: -0.04em;
    line-height: 1.5em;
}

.fonts-bold {
    font-weight: bold;
}

.fonts-bolder {
    font-weight: bolder;
}