@charset "UTF-8";
/* general calls */
.w-1280 {
    width: 1280px;
}

.w-760min {
    min-width: 760px;
}

.w-1280 {
    width: 1280px;
}

.m-0a {
    margin: 0 auto;
}

.mt-1re {
    margin-top: 1rem;
}

.mb-1re {
    margin-bottom: 1rem;
}

.pt-1re5 {
    padding-top: 1.5rem;
}

.pb-1re5 {
    padding-bottom: 1.5rem;
}

.po-r {
    position: relative;
}

.po-a {
    position: absolute;
}

.flo-lft {
    float: left;
}

.flo-rht {
    float: right;
}