@charset "UTF-8";
/* colors */
.theme-true-black {background-color: #000000;}
.theme-matte-black {background-color: #111111;}
.theme-pastel-black {background-color: #1B1B1B;}
.theme-dark-gray {background-color: #252628;}
.theme-white {background-color: #FFFFFF;}
.theme-magenta {background-color: #B6082E;}
.theme-red-wine {background-color: #9F0728;}
.fonts-dark-gray {color: #80898F;}  
.fonts-white {color: #FFFFFF;}

/* fonts styles */
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.fonts-headline {font-size: 3.375rem; font-weight: 600; letter-spacing: -0.045625rem; line-height: 3.625rem;}
.fonts-category {font-size: 1.75rem; font-weight: 600;line-height: 2.1875rem;}
.fonts-title {font-size: 1.25rem; font-weight: 600; line-height: 1.5rem;}
.fonts-headline-sub {font-size: 1.25rem; font-weight: 600; letter-spacing: -0.02375rem; line-height: 2rem;}
.fonts-menu1 {font-weight: 600; line-height: 1.25rem;}
.fonts-menu2 {font-weight: 600; line-height: 1.125rem;}
.fonts-subtitle {font-size: 0.875rem; font-weight: 600;}
.fonts-btn-detail {font-size: 0.875rem; font-weight: 600; letter-spacing: 0.0075rem;}
.fonts-menu-footer {font-size: 0.875rem; line-height: 1.125rem;}
.fonts-copyright-footer {font-size: 0.8125rem; letter-spacing: -0.015625rem;}
.fonts-date {font-size: 0.75rem; font-weight: 600; /* with .fonts-headline-sub, add 'line-height: 2rem;' */}

/* measurements and positioning */
.position-re {position: relative;}
.position-ab {position: absolute;}