@charset "UTF-8";
body {
    background-color: #1B1B1B;
}

/* HEADER LAYOUTS */
#header {
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .gnb-bar {
    width: 90%;
}

#header .gnb-bar>ul {
    display: flex;
    gap: 48px;
}

.event-submenu {
    display: none;
}

.language-selcetor .language-submenu {
    display: none;
}