* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: initial;
}

header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  background-color: black;
}
header #header-utility {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #header-utility a {
  color: white;
}
header #header-utility button {
  background: none;
  border: none;
  color: white;
}
header #header-navigator {
  display: flex;
  align-items: center;
}
header #header-navigator .navigator {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
header #header-navigator .navigator > li > a {
  display: block;
  color: white;
  padding: 2rem 0.5rem;
}
header #header-navigator .background-fulldrop {
  display: none;
}
header #header-navigator > button {
  padding: 1rem 0.5rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4039215686);
  color: white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.backgrounds {
  width: 100vw;
  height: 100vh;
}
.backgrounds .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#section-01 {
  position: relative;
}
#section-01 .swiper-wrapper .swiper-slide .title {
  position: relative;
  top: 40%;
  color: white;
}
#section-01 .swiper-wrapper .swiper-slide .title h4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
#section-01 .swiper-wrapper .swiper-slide .title h2 {
  font-size: 2.5rem;
}
#section-01 .panel {
  position: relative;
  z-index: 100;
  bottom: 40%;
}
#section-01 .panel .wrapper-frequent .categories {
  margin-bottom: 1.5rem;
}
#section-01 .panel .wrapper-frequent .categories a {
  display: inline-block;
  position: relative;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
#section-01 .panel .wrapper-frequent .categories a:last-child {
  transform: translateX(-2.75rem);
}
#section-01 .panel .wrapper-frequent .categories a.on {
  background-color: #7777ff;
  color: white;
  z-index: 50;
}
#section-01 .panel .wrapper-frequent .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: auto;
  max-width: 1280px;
}
#section-01 .panel .wrapper-frequent .buttons li {
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
}
#section-01 .panel .wrapper-frequent .buttons li a {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section-02 .container > h3, #section-02 .container > p {
  text-align: center;
  margin-bottom: 2rem;
}
#section-02 .container > h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
#section-02 .container .information {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
#section-02 .container .information > li {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  border-right: none;
}
#section-02 .container .information > li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .information > li.active, #section-02 .container .information > li:hover {
  background-color: #7777ff;
  border: none;
}
#section-02 .container .information > li.active > a, #section-02 .container .information > li:hover > a {
  color: white;
}
#section-02 .container .information > li.active > a img, #section-02 .container .information > li:hover > a img {
  filter: grayscale(1) contrast(10) invert(1);
}
#section-02 .container .information > li > a {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-02 .container .information > li > a img {
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
}
#section-02 .container .notice {
  display: flex;
  justify-content: space-between;
  gap: 1.75rem;
}
#section-02 .container .notice li {
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .notice li a {
  display: flex;
  flex-direction: column;
}
#section-02 .container .notice li a .text {
  padding: 1.5rem 1.75rem;
}
#section-02 .container .notice li a .text > p:first-child {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  background-color: #e8f0fe;
  color: #5c6f92;
}
#section-02 .container .notice li a .text .desc span {
  font-size: 1.0675rem;
  font-weight: bold;
}
#section-02 .container .notice li a .text .desc p {
  color: rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .notice li a .thumbnail {
  overflow: hidden;
}
#section-02 .container .notice li a .thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
#section-02 .container .notice li:hover {
  border: 1px solid #7777ff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .notice li:hover .thumbnail img {
  transform: scale(1.12);
}

#section-03 {
  padding-top: 3rem;
  background-color: #e8f0f5;
}
#section-03 .container h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
#section-03 .container .news {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
#section-03 .container .news .news-wrapper {
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
}
#section-03 .container .news .news-wrapper .news-menu {
  padding: 0.25rem 0rem 1.25rem;
  display: flex;
  gap: 2rem;
}
#section-03 .container .news .news-wrapper .news-menu a {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4039215686);
}
#section-03 .container .news .news-wrapper .news-menu a:hover {
  color: #3D8D9A;
}
#section-03 .container .news .news-wrapper .news-menu a.on {
  color: initial;
}
#section-03 .container .news .news-wrapper .news-list {
  padding: 1.75rem 0rem 0.25rem;
}
#section-03 .container .news .news-wrapper .news-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
#section-03 .container .news .news-wrapper .news-list li:last-child {
  margin-bottom: initial;
}
#section-03 .container .news .news-wrapper .news-list li > a {
  display: block;
}
#section-03 .container .news .news-wrapper .news-list li > a span {
  background-color: #ecfafb;
  color: #3D8D9A;
  border-radius: 16px;
  padding: 0.5rem 0.625rem;
}
#section-03 .container .news .news-wrapper .news-list li > span {
  color: rgba(0, 0, 0, 0.4039215686);
}
#section-03 .container .news .banner-wrapper {
  flex-grow: 0.9;
  width: 7%;
  background-color: white;
}
#section-03 .container .news .banner-wrapper .banner-menu {
  display: flex;
  padding: 1.75rem;
}
#section-03 .container .news .banner-wrapper .banner-menu h4 {
  font-size: 1.25rem;
}
#section-03 .container .news .banner-wrapper .banner-menu .swiper-pagination {
  position: initial;
  width: initial;
  margin-left: auto;
}
#section-03 .container .news .banner-wrapper .swiper .swiper-wrapper .swiper-slide {
  padding-top: 56%;
  overflow: hidden;
}
#section-03 .container .news .banner-wrapper .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#section-03 .container .sns-wrapper {
  display: flex;
  gap: 1.75rem;
  padding: 1.75rem;
  background-color: white;
}
#section-03 .container .sns-wrapper .sns-menu {
  flex-basis: 20%;
}
#section-03 .container .sns-wrapper .sns-menu > h4, #section-03 .container .sns-wrapper .sns-menu > p {
  margin-bottom: 0.625rem;
}
#section-03 .container .sns-wrapper .sns-menu > h4 {
  font-size: 1.25rem;
}
#section-03 .container .sns-wrapper .sns-menu > p {
  font-size: 0.875rem;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4039215686);
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li.on {
  border-bottom: 1px solid black;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li:last-child {
  border-bottom: none;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li > a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li > a span {
  position: absolute;
  right: 0;
}
#section-03 .container .sns-wrapper .swiper .swiper-pagination {
  left: unset;
  bottom: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-left: auto;
}
#section-03 .container .sns-wrapper .swiper .swiper-wrapper .swiper-slide a .image {
  width: 100%;
  padding-top: 56.75%;
  overflow: hidden;
  position: relative;
}
#section-03 .container .sns-wrapper .swiper .swiper-wrapper .swiper-slide a .image img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#section-03 .container .sns-wrapper .swiper .swiper-wrapper .swiper-slide a .text p:first-child {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
}

#section-04 .container {
  background-image: url(../img/section-4th-background.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#section-04 .container h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
#section-04 .container .service-wrapper {
  background-color: white;
  padding: 1.75rem;
  display: flex;
}
#section-04 .container .service-wrapper .introduce-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#section-04 .container .service-wrapper .guideline-wrapper {
  flex-grow: 1;
  display: flex;
}/*# sourceMappingURL=style.css.map */