:root {
  --submenu-height: 525px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: -0.0625rem;
  font-family: "Noto Sans KR", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: initial;
}

.rounding {
  border-radius: 8px;
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 2000;
  width: 100%;
}
header #header-utility {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #header-utility a {
  color: white;
}
header #header-utility button {
  background: none;
  border: none;
  color: white;
}
header #header-navigator {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
}
header #header-navigator .navigator {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
header #header-navigator .navigator > li {
  position: relative;
  margin-right: auto;
  width: 100%;
}
header #header-navigator .navigator > li > a {
  display: block;
  width: 100%;
  padding: 2rem 0rem;
  font-size: 1.4rem;
  text-indent: 1rem;
  color: white;
}
header #header-navigator .navigator > li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: var(--submenu-height, 550px);
}
header #header-navigator .navigator > li .submenu li {
  width: 100%;
}
header #header-navigator .navigator > li .submenu li a {
  display: block;
  padding: 1rem;
  color: black;
}
header #header-navigator .navigator > li .submenu:hover {
  background-color: rgba(0, 0, 0, 0.137254902);
}
header #header-navigator > button {
  padding: 1rem 0.5rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4039215686);
  color: white;
}
header .background-fulldrop {
  display: none;
  background-color: white;
  background-image: url(../img/Navigator-icon.png);
  background-repeat: no-repeat;
  background-position: 18% 50%;
  height: var(--submenu-height, 550px);
}
header.nonTransparent {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2039215686);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1019607843);
}
header.nonTransparent #header-navigator .navigator > li > a, header.nonTransparent #header-navigator button {
  color: black;
}
header.nonTransparent #header-navigator > button {
  border: 1px solid black;
}

.background-overlay, .background-sitemap {
  display: none;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2705882353);
}

.sitemap {
  display: none;
  position: fixed;
  z-index: 2500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 82vh;
  padding: 3rem;
  background-color: white;
  overflow-y: scroll;
}
.sitemap .sitemap-depth01 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}
.sitemap .sitemap-depth01 > li {
  display: flex;
}
.sitemap .sitemap-depth01 > li > a {
  flex-basis: 10%;
  font-weight: bold;
  font-size: 1.2rem;
}
.sitemap .sitemap-depth01 > li .sitemap-depth02-wrapper {
  flex-grow: 1;
  flex-basis: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem 0;
}
.sitemap .sitemap-depth01 > li .sitemap-depth02-wrapper .sitemap-depth02 {
  flex-basis: 33%;
}
.sitemap .sitemap-depth01 > li .sitemap-depth02-wrapper .sitemap-depth02:last-child {
  margin-right: auto;
}
.sitemap .sitemap-depth01 > li .sitemap-depth02-wrapper .sitemap-depth02 a {
  display: block;
  padding: 0.75rem;
  color: rgba(0, 0, 0, 0.6666666667);
  font-size: 0.9375rem;
}
.sitemap .sitemap-depth01 > li .sitemap-depth02-wrapper .sitemap-depth02 .depth02-title a {
  font-weight: bold;
  color: black;
  background-color: rgba(0, 0, 0, 0.137254902);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.backgrounds {
  width: 100vw;
  height: 100vh;
}
.backgrounds .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#section-01 {
  position: relative;
}
#section-01 .swiper-wrapper .swiper-slide .title {
  position: relative;
  top: 40%;
  color: white;
}
#section-01 .swiper-wrapper .swiper-slide .title h4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
#section-01 .swiper-wrapper .swiper-slide .title h2 {
  font-size: 2.5rem;
}
#section-01 .panel {
  position: relative;
  z-index: 100;
  bottom: 40%;
}
#section-01 .panel .wrapper-frequent .categories {
  margin-bottom: 1.5rem;
}
#section-01 .panel .wrapper-frequent .categories a {
  display: inline-block;
  position: relative;
  padding: 1rem 4rem;
  border: 2px solid white;
  border-radius: 1.75rem;
  color: #FFFFFF;
  font-weight: 500;
}
#section-01 .panel .wrapper-frequent .categories a:last-child {
  transform: translateX(-3rem);
}
#section-01 .panel .wrapper-frequent .categories a.on {
  border: 2px solid #7777ff;
  background-color: #7777ff;
  color: white;
  z-index: 50;
}
#section-01 .panel .wrapper-frequent .buttons {
  display: none;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: auto;
  max-width: 1280px;
}
#section-01 .panel .wrapper-frequent .buttons.on {
  display: flex;
}
#section-01 .panel .wrapper-frequent .buttons li {
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  width: 7.5rem;
}
#section-01 .panel .wrapper-frequent .buttons li:hover {
  border: 1px solid #7777ff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2039215686);
}
#section-01 .panel .wrapper-frequent .buttons li:hover a {
  color: #7777ff;
}
#section-01 .panel .wrapper-frequent .buttons li a {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7882352941);
}
#section-01 .panel .wrapper-frequent .buttons li a img {
  width: auto;
  max-height: 34px;
  height: 100%;
}

#section-02 .container > h3, #section-02 .container > p {
  text-align: center;
  margin-bottom: 2rem;
}
#section-02 .container > h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
#section-02 .container .information {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
#section-02 .container .information > li {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  border-right: none;
  transition: 0.5s;
}
#section-02 .container .information > li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .information > li.on, #section-02 .container .information > li:hover {
  background-color: #7777ff;
  border: 1px solid white;
}
#section-02 .container .information > li.on > a, #section-02 .container .information > li:hover > a {
  color: white;
}
#section-02 .container .information > li.on > a img, #section-02 .container .information > li:hover > a img {
  filter: grayscale(1) contrast(10) invert(1);
}
#section-02 .container .information > li > a {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-02 .container .information > li > a img {
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
}
#section-02 .container .notice {
  display: none;
  justify-content: space-between;
  gap: 1.75rem;
}
#section-02 .container .notice.on {
  display: flex;
}
#section-02 .container .notice li {
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .notice li a {
  display: flex;
  flex-direction: column;
}
#section-02 .container .notice li a .text {
  padding: 1.5rem 1.75rem;
}
#section-02 .container .notice li a .text > p:first-child {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  background-color: #e8f0fe;
  color: #5c6f92;
}
#section-02 .container .notice li a .text .desc span {
  font-size: 1.0675rem;
  font-weight: bold;
}
#section-02 .container .notice li a .text .desc p {
  color: rgba(0, 0, 0, 0.737254902);
}
#section-02 .container .notice li a .thumbnail {
  overflow: hidden;
}
#section-02 .container .notice li a .thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
#section-02 .container .notice li:hover {
  border: 1px solid #7777ff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4039215686);
}
#section-02 .container .notice li:hover .thumbnail img {
  transform: scale(1.12);
}

#section-03 {
  background-color: #e8f0f5;
}
#section-03 .container h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
#section-03 .container .news {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
#section-03 .container .news .news-wrapper {
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
}
#section-03 .container .news .news-wrapper .news-menu {
  padding: 0.25rem 0rem 1.25rem;
  display: flex;
  gap: 2rem;
}
#section-03 .container .news .news-wrapper .news-menu a {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4039215686);
}
#section-03 .container .news .news-wrapper .news-menu a:hover {
  color: #3D8D9A;
}
#section-03 .container .news .news-wrapper .news-menu a.on {
  color: initial;
}
#section-03 .container .news .news-wrapper .news-list {
  padding: 1.75rem 0rem 0.25rem;
  display: none;
}
#section-03 .container .news .news-wrapper .news-list.on {
  display: block;
}
#section-03 .container .news .news-wrapper .news-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}
#section-03 .container .news .news-wrapper .news-list li:last-child {
  margin-bottom: initial;
}
#section-03 .container .news .news-wrapper .news-list li > a {
  display: block;
}
#section-03 .container .news .news-wrapper .news-list li > a span {
  background-color: #ecfafb;
  color: #3D8D9A;
  border-radius: 16px;
  padding: 0.5rem 0.625rem;
}
#section-03 .container .news .news-wrapper .news-list li > span {
  color: rgba(0, 0, 0, 0.4039215686);
}
#section-03 .container .news .banner-wrapper {
  flex-grow: 0.9;
  width: 7%;
  background-color: white;
}
#section-03 .container .news .banner-wrapper .banner-menu {
  display: flex;
  padding: 1.75rem;
}
#section-03 .container .news .banner-wrapper .banner-menu h4 {
  font-size: 1.25rem;
}
#section-03 .container .news .banner-wrapper .banner-menu .swiper-pagination {
  position: initial;
  width: initial;
  margin-left: auto;
}
#section-03 .container .news .banner-wrapper .swiper .swiper-wrapper .swiper-slide {
  padding-top: 56%;
  overflow: hidden;
}
#section-03 .container .news .banner-wrapper .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#section-03 .container .sns-wrapper {
  display: flex;
  gap: 1.75rem;
  padding: 1.75rem;
  background-color: white;
}
#section-03 .container .sns-wrapper .sns-menu {
  flex-basis: 20%;
}
#section-03 .container .sns-wrapper .sns-menu > h4, #section-03 .container .sns-wrapper .sns-menu > p {
  margin-bottom: 0.625rem;
}
#section-03 .container .sns-wrapper .sns-menu > h4 {
  font-size: 1.25rem;
}
#section-03 .container .sns-wrapper .sns-menu > p {
  font-size: 0.875rem;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4039215686);
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li.on {
  border-bottom: 1px solid black;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li:last-child {
  border-bottom: none;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li.facebook:hover img {
  background-color: #3685ea !important;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li.youtube:hover img {
  background-color: #e63e44 !important;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li.instagram:hover img {
  background-position: center;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li > a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li > a img {
  display: block;
  background-color: #d4d4d4;
  border-radius: 50%;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li > a span {
  position: absolute;
  right: 0;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li .navers {
  display: flex;
  gap: 0.75rem;
}
#section-03 .container .sns-wrapper .sns-menu .sns-list li .navers > a img {
  background-color: #00c73c;
  border-radius: 50%;
}
#section-03 .container .sns-wrapper .swiper {
  display: none;
}
#section-03 .container .sns-wrapper .swiper.on {
  display: block;
}
#section-03 .container .sns-wrapper .swiper .swiper-pagination {
  left: unset;
  bottom: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-left: auto;
}
#section-03 .container .sns-wrapper .swiper .swiper-wrapper .swiper-slide a .image {
  width: 100%;
  padding-top: 56.75%;
  overflow: hidden;
  position: relative;
}
#section-03 .container .sns-wrapper .swiper .swiper-wrapper .swiper-slide a .image img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#section-03 .container .sns-wrapper .swiper .swiper-wrapper .swiper-slide a .text p:first-child {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
}

#section-04 {
  background-image: url(../img/section-4th-background.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#section-04 h3 {
  font-size: 2.5rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
#section-04 .container {
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  padding: 1.75rem;
  background-color: white;
}
#section-04 .container .service-wrapper {
  padding: 1.75rem;
  gap: 1.75rem;
  display: flex;
}
#section-04 .container .service-wrapper .introduce-wrapper {
  flex-grow: 1;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader, #section-04 .container .service-wrapper .introduce-wrapper .introduce-company {
  flex-basis: 50%;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader {
  position: relative;
  padding: 2.5rem 1.75rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(../img/introduce-leader-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader p {
  font-size: 1.2rem;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader p span {
  font-size: inherit;
  font-weight: bold;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  background-image: url(../img/introduce-leader-bglayer-person.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 95% 102%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader .button {
  position: relative;
  display: flex;
  gap: 0.5rem;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-leader .button a {
  padding: 0.25rem 0.75rem;
  min-width: 6rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  border-radius: 16px;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  background-color: #eaeff7;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-company li a .image {
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 50%;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-company li a .image img {
  display: block;
}
#section-04 .container .service-wrapper .introduce-wrapper .introduce-company li a p {
  text-align: center;
  font-weight: bold;
  font-size: 0.9375rem;
}
#section-04 .container .service-wrapper .guideline-wrapper {
  flex-grow: 1;
  flex-basis: 67%;
  display: flex;
  gap: 1.75rem;
}
#section-04 .container .service-wrapper .guideline-wrapper .patched-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
#section-04 .container .service-wrapper .guideline-wrapper .patched-wrapper h4 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  text-align: right;
}
#section-04 .container .service-wrapper .guideline-wrapper .patched-wrapper, #section-04 .container .service-wrapper .guideline-wrapper .guideline-visual {
  flex-basis: 50%;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-menu {
  height: 100%;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-menu .guideline-list .swiper-slide {
  width: 100% !important;
  display: flex;
  gap: 4%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-menu .guideline-list .swiper-slide p {
  flex-basis: 16%;
  display: flex;
  align-items: center;
  text-indent: 0.5rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.137254902);
  color: rgba(0, 0, 0, 0.6666666667);
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-menu .guideline-list .swiper-slide p.on {
  background: #7777ff;
  color: white;
}
#section-04 .container .service-wrapper .guideline-wrapper .navigation-button {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 12%);
  padding: 0.25rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.337254902);
  border-radius: 0.75rem;
  cursor: pointer;
}
#section-04 .container .service-wrapper .guideline-wrapper .navigation-button.navigation-next {
  transform: translate(108%, 12%);
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual {
  padding: 1.75rem;
  background-image: url(../img/guideline-visual-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li {
  display: none;
  gap: 2rem;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li.on {
  display: flex;
  flex-direction: column;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li h4 {
  font-size: 1.5rem;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li .stroke {
  height: 1px;
  width: 5rem;
  background-color: beige;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li p {
  font-size: 0.9375rem;
  line-height: 1.6rem;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li a {
  align-self: start;
  padding: 0.25rem 1.25rem;
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  border-radius: 16px;
}
#section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li a:hover {
  background-color: #7777ff;
  color: white;
}

footer {
  background-color: #1e222a;
}
footer .footer-upper {
  background-color: #313849;
}
footer .footer-upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
footer .footer-upper .footer-menu {
  display: flex;
  gap: 2.5rem;
}
footer .footer-upper .footer-menu li {
  position: relative;
}
footer .footer-upper .footer-menu li a {
  display: block;
  font-weight: bold;
  color: #909095;
}
footer .footer-upper .footer-menu li:after {
  content: "";
  display: block;
  width: 1px;
  height: 0.875rem;
  position: absolute;
  left: -1.25rem;
  top: 0.25rem;
  background-color: #909095;
}
footer .footer-upper .footer-menu li:first-child::after {
  display: none;
}
footer .footer-upper .footer-sitemap {
  position: relative;
  z-index: 6000;
  padding: 0.5rem 1rem;
  border: 1px solid #909095;
  color: #909095;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
footer .footer-upper .footer-sitemap ul {
  position: absolute;
  bottom: calc(100% + 1px);
  left: 0;
  width: 100%;
  outline: 1px solid #909095;
  background-color: #313849;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
footer .footer-upper .footer-sitemap ul.on {
  opacity: 1;
  visibility: visible;
}
footer .footer-upper .footer-sitemap ul li {
  padding: 0.5rem 1rem;
}
footer .footer-upper .footer-sitemap ul li a {
  color: white;
  font-size: 0.875rem;
  font-weight: normal;
}
footer .footer-lower {
  color: #909095;
  font-size: 0.9375rem;
}
footer .footer-lower .container {
  padding: 2rem 0 4.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .footer-lower .container .image {
  flex-basis: 11%;
}
footer .footer-lower .container .image img {
  width: 100%;
  height: auto;
}
footer .footer-lower .container .footer-text {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
footer .footer-lower .container .footer-text .left, footer .footer-lower .container .footer-text .right {
  flex-basis: 50%;
}
footer .footer-lower .container .footer-text .left p:first-child {
  margin-bottom: 1rem;
}
footer .footer-lower .container .footer-text .right h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
}
footer .footer-lower .container .footer-icon {
  flex-basis: 11%;
}
footer .footer-lower .container .footer-icon .outlink, footer .footer-lower .container .footer-icon .certificated {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}
footer .footer-lower .container .footer-icon .outlink li {
  background-color: #313849;
  border-radius: 50%;
}
footer .footer-lower .container .footer-icon .outlink li a img {
  display: block;
}
footer .footer-lower .container .footer-icon .outlink .facebook:hover {
  background-color: #3685ea;
}
footer .footer-lower .container .footer-icon .outlink .youtube:hover {
  background-color: #e63e44;
}
footer .footer-lower .container .footer-icon .outlink .instagram:hover {
  background-position: center;
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer .footer-lower .container .footer-icon .outlink .blog:hover {
  background-color: #00c73c;
}

#fp-nav ul li .fp-tooltip {
  left: 1.5rem;
  font-size: 0.9375rem;
  font-weight: bold;
  color: #5266cf;
  overflow: initial;
}
#fp-nav ul li a span {
  width: 8px;
  height: 8px;
  opacity: 0.5;
}
#fp-nav ul li a.active span {
  width: 16px;
  height: 16px;
  opacity: 1;
  background-color: black;
  border: 4px solid #5266cf;
}

@media screen and (max-width: 959px) {
  * {
    font-size: 14px;
  }
  header {
    padding: 1rem;
  }
  header #header-navigator {
    justify-content: space-between;
  }
  .mobile-pad {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
  .no-small {
    display: none;
  }
  .backgrounds {
    width: 100%;
  }
  .backgrounds .swiper-slide {
    background-position: initial initial;
  }
  #section-01 .swiper-wrapper .swiper-slide .title {
    top: 10%;
  }
  #section-01 .panel {
    width: 100%;
    bottom: 70%;
  }
  #section-01 .panel .wrapper-frequent {
    width: 100%;
  }
  #section-01 .panel .wrapper-frequent .buttons {
    width: 100%;
    gap: unset;
  }
  #section-01 .panel .wrapper-frequent .buttons li {
    flex-grow: 1;
    flex-basis: 40%;
    border-radius: initial;
  }
  #section-01 .panel .wrapper-frequent .buttons li a img {
    width: 100%;
    max-width: 34px;
    height: auto;
    max-height: unset;
  }
  #section-02 {
    padding-top: 3rem;
  }
  #section-02 .container .information {
    flex-wrap: wrap;
  }
  #section-02 .container .information > li {
    flex-basis: 50%;
  }
  #section-02 .container .notice {
    flex-wrap: wrap;
    gap: unset;
  }
  #section-02 .container .notice li {
    flex-basis: 50%;
  }
  #section-03 {
    padding-top: 3rem;
  }
  #section-03 .container .news {
    flex-direction: column;
  }
  #section-03 .container .news .news-wrapper .news-menu {
    justify-content: space-between;
  }
  #section-03 .container .news .banner-wrapper {
    width: unset;
  }
  #section-03 .container .sns-wrapper {
    flex-direction: column;
  }
  #section-03 .container .sns-wrapper .sns-menu .sns-list li .navers {
    justify-content: space-between;
  }
  #section-03 .container .sns-wrapper .sns-menu .sns-list li .navers > a {
    flex-grow: 1;
  }
  #section-03 .container .sns-wrapper .swiper {
    width: 100%;
  }
  #section-04 {
    padding-top: 3rem;
  }
  #section-04 .container {
    padding: 0;
    border: none;
  }
  #section-04 .container .service-wrapper {
    flex-direction: column;
  }
  #section-04 .container .service-wrapper .introduce-wrapper .introduce-leader, #section-04 .container .service-wrapper .introduce-wrapper .introduce-company {
    flex-basis: 144px;
  }
  #section-04 .container .service-wrapper .introduce-wrapper .introduce-leader::before {
    background-position: 95% 0%;
  }
  #section-04 .container .service-wrapper .guideline-wrapper {
    display: flex;
    flex-direction: column;
  }
  #section-04 .container .service-wrapper .guideline-wrapper .guideline-menu .guideline-list .swiper-slide {
    height: auto;
    gap: 0.25rem;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #section-04 .container .service-wrapper .guideline-wrapper .guideline-menu .guideline-list .swiper-slide p {
    padding: 1rem 0;
  }
  #section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li {
    gap: 0.5rem;
  }
  #section-04 .container .service-wrapper .guideline-wrapper .guideline-visual li h4 {
    font-size: 1.25rem;
  }
  footer .footer-upper .container .footer-menu {
    gap: 0;
    flex-wrap: wrap;
    flex-grow: 0.6;
    flex-basis: 25%;
  }
  footer .footer-upper .container .footer-menu li {
    flex-shrink: 1;
    flex-basis: 50%;
  }
  footer .footer-upper .container .footer-menu li::after {
    content: none;
  }
  footer .footer-upper .container .footer-menu li a {
    padding: 0.625rem 0;
  }
  footer .footer-upper .container .footer-sitemap {
    flex-grow: 0.25;
    flex-basis: 25%;
  }
  footer .footer-upper .container .footer-sitemap ul li {
    padding: 0.75rem 1rem;
  }
  footer .footer-lower .container {
    flex-direction: column;
  }
  footer .footer-lower .container .footer-text {
    flex-direction: column;
    gap: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */