$navigator-backcolor: #000000;
$submenu-height: 525px;

:root {
    --submenu-height: #{$submenu-height};
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    letter-spacing: -0.0625rem;
}

li {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: initial;
}

header {
    position: fixed;
    z-index: 2000;
    width: 100%;

    background-color: #000000FF;

    #header-utility {
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: #FFFFFFFF;
        }

        button {
            background: none;
            border: none;
            color: #FFFFFFFF;
        }
    }

    #header-navigator {
        display: flex;
        align-items: center;
        gap: 3rem;

        position: relative;

        .navigator {
            
            flex-grow: 1;

            display: flex;
            justify-content: center;

            > li {
                position: relative;

                margin-right: auto;

                width: 100%;

                > a {
                    display: block;

                    width: 100%;
                    padding: 2rem 0rem;

                    text-indent: 1rem;
                    color: #FFFFFFFF;
                }

                .submenu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: var(--submenu-height, 550px);

                    li {
                        width: 100%;

                        a {
                            display: block;
                            padding: 1rem;
                            color: #000000FF;
                        }
                    }

                    &:hover {
                        background-color: #00000023;
                    }
                }
            }
        }

        
        > button {
            padding: 1rem 0.5rem;
            background: none;
            border: 1px solid #FFFFFF67;
            color: #FFFFFFFF;
        }
    }
    
    .background-fulldrop {
        display: none;
        background-color: #FFFFFFFF;
        background-image: url(../img/Navigator-icon.png);
        background-repeat: no-repeat;
        background-position: 18% 50%;
        height: var(--submenu-height, 550px);
    }
}

.background-overlay, .background-sitemap {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000045;
}


.sitemap {
    display: none;

    position: fixed;
    z-index: 2500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 90vh;
    padding: 3rem;
    background-color: #FFFFFFFF;
    overflow-y: scroll;

    .sitemap-depth01 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0;

        > li {
            display: flex;

            > a {
                flex-basis: 10%;
            }

            .sitemap-depth02-wrapper {
                flex-grow: 1;
                flex-basis: 1%;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0.5rem 0;

                .sitemap-depth02 {
                    flex-basis: 33%;

                    &:last-child {
                        margin-right: auto;
                    }

                    a {
                        display: block;
                        padding: 0.75rem;
                    }

                    .depth02-title {
                        a {
                            font-weight: bold;
                            color: #000000FF;
                            background-color: #00000067;
                        }
                    }
                }
            }
        }
    }
}


.container {
    max-width: 1280px; margin: 0 auto;
}

.backgrounds {
    width: 100vw; height: 100vh;

    .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

#section-01 {
    position: relative;

    .swiper-wrapper {
        .swiper-slide {
            .title {
                position: relative;
                top: 40%;

                color: #FFFFFFFF;

                h4 {
                    font-size: 1.5rem;
                    font-weight: normal;
                    margin-bottom: 0.5rem;
                }

                h2 {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .panel {
        position: relative;
        z-index: 100;
        bottom: 40%;
        
        .wrapper-frequent {
            .categories {
                margin-bottom: 1.5rem;

                a {
                    display: inline-block;
                    position: relative;
                    background-color: #FFFFFFFF;
                    padding: 1rem 3rem;
                    border-radius: 2rem;

                    &:last-child {
                        transform: translateX(-2.75rem);
                    }

                    &.on {
                        background-color: #7777FFFF;
                        color: #FFFFFFFF;
                        z-index: 50;
                    }
                }
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 0.25rem;
                width: auto;
                max-width: 1280px;

                li {
                    background-color: #FFFFFFFF;
                    padding: 1rem 0.5rem;
                    border-radius: 1rem;

                    a {
                    display: flex;
                    gap: 0.25rem;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    }
                }
            }
        }
    }
}

#section-02 {
    padding-top: 3rem;

    .container {
        > h3, > p {
            text-align: center;
            margin-bottom: 2rem;
        }

        > h3 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .information {
            margin-bottom: 2rem;

            display: flex;
            justify-content: space-between;

            > li {
                flex-basis: 25%;

                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid #00000067;
                border-right: none;

                &:last-child {
                    border-right: 1px solid #00000067;
                }
                &.active, &:hover {
                    background-color: #7777FFFF;
                    border: none;
                    // border: 1px solid #FFFFFFFF;

                    > a {
                        color: #FFFFFFFF;

                        img {
                            filter: grayscale(1) contrast(10) invert(1);
                        }
                    }
                }

                > a {
                    width: 100%;
                    padding: 3rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        max-width: fit-content;
                        height: auto;
                    }
                }
            }
        }

        .notice {
            display: flex;
            justify-content: space-between;
            gap: 1.75rem;

            li {
                border: 1px solid #00000067;

                a {
                    display: flex;
                    flex-direction: column;

                    .text {
                        padding: 1.5rem 1.75rem;

                        > p:first-child {
                            display: inline-block;

                            margin-bottom: 1rem;
                            padding: 0.5rem;
                            font-size: 0.875rem;

                            background-color: #E8F0FEFF;
                            color: #5C6F92FF;
                        }

                        .desc {
                            span {
                                font-size: 1.0675rem;
                                font-weight: bold;
                            }

                            p {
                                color: #00000067;
                            }
                        }
                    }

                    .thumbnail {
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }
                }

                &:hover {
                    border: 1px solid #7777FFFF;
                    box-shadow: 8px 8px 16px #00000067;

                    .thumbnail {
                        img {
                            transform: scale(1.12);
                        }
                    }
                }
            }
        }
    }
}

#section-03 {
    padding-top: 3rem;
    background-color: #E8F0F5FF;

    .container {
        h3 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .news {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            margin-bottom: 2rem;

            .news-wrapper {
                flex-grow: 1;

                padding: 2rem;
                background-color: #FFFFFFFF;


                .news-menu {
                    padding: 0.25rem 0rem 1.25rem;
                    display: flex;
                    gap: 2rem;

                    a {
                        font-size: 1.25rem;
                        font-weight: bold;
                        color: #00000067;

                        &:hover {
                            color: #3D8D9A;
                        }

                        &.on {
                            color: initial;
                        }
                    }
                }
                
                .news-list {
                    padding: 1.75rem 0rem 0.25rem;
                    display: none;

                    &.on {
                        display: block;
                    }
                    
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        margin-bottom: 1.5rem;

                        font-size: 0.875rem;

                        &:last-child {
                            margin-bottom: initial;
                        }

                        > a {
                            display: block;

                            span {
                                background-color: #ECFAFBFF;
                                color: #3D8D9A;
                                border-radius: 16px;
                                padding: 0.5rem 0.625rem;
                            }
                        }

                        > span {
                            color: #00000067;
                        }
                    }
                }
            }

            .banner-wrapper {
                flex-grow: 0.9;
                width: 7%;

                background-color: #FFFFFFFF;

                .banner-menu {
                    display: flex;

                    padding: 1.75rem;
                    h4 {
                        font-size: 1.25rem;
                    }

                    .swiper-pagination {
                        position: initial;

                        width: initial;
                        margin-left: auto;
                    }
                }

                .swiper {
                    
                    .swiper-wrapper {
                        .swiper-slide {
                            // position: relative; Already applied by Swiper.js
                            padding-top: 56%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: auto;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }

        .sns-wrapper {
            display: flex;
            gap: 1.75rem;

            padding: 1.75rem;
            background-color: #FFFFFFFF;

            .sns-menu {
                flex-basis: 20%;
                
                > h4, > p {
                    margin-bottom: 0.625rem;
                }

                > h4 {
                    font-size: 1.25rem;
                }

                > p {
                    font-size: 0.875rem;
                }

                .sns-list {
                li {
                    padding: 0.5rem 0;
                    border-bottom: 1px solid #00000067;

                    &.on {
                        border-bottom: 1px solid #000000FF;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    > a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 0.75rem;

                        span {
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }


            .swiper {
                display: none;

                &.on {
                    display: block;
                }

                .swiper-pagination {
                    // initialized
                    left: unset;
                    bottom: unset;

                    width: fit-content;
                    position: relative;
                    margin-left: auto;
                }

                .swiper-wrapper {
                    .swiper-slide {
                        a {
                            .image {
                                width: 100%;
                                padding-top: 56.75%;
                                overflow: hidden;

                                position: relative;

                                img {
                                    width: 100%;

                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            .text {
                                p {
                                    &:first-child {
                                        display: flex;
                                        align-items: center;
                                        padding: 1rem 0;
                                        gap: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#section-04 {
    padding-top: 3rem;

    background-image: url(../img/section-4th-background.png);
    background-repeat: no-repeat;
    background-size: contain;

    h3 {
        font-size: 2.5rem;
        margin-bottom: 1.75rem;
        text-align: center;
    }
    
    .container {
        border: 1px solid #00000067;
        padding: 1.75rem;
        background-color: #FFFFFFFF;

        .service-wrapper {
            padding: 1.75rem;
            gap: 1.75rem;

            display: flex;

            .introduce-wrapper {
                flex-grow: 1;
                flex-basis: 33%;

                display: flex;
                flex-direction: column;
                gap: 1.75rem;

                .introduce-leader, .introduce-company {
                    flex-basis: 50%;
                }

                .introduce-leader {
                    padding: 1.75rem;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    background-image: url(../img/introduce-leader-bg.png);
                    background-size: cover;
                    background-repeat: no-repeat;

                    p {
                        font-size: 1.2rem;
                    }

                    .button {
                        display: flex;
                        gap: 0.5rem;

                        a {
                            padding: 0.25rem 0.75rem;
                            min-width: 6rem;

                            font-size: 0.8rem;
                            text-align: center;
                            background-color: #FFFFFFFF;
                            border: 1px solid #00000067;
                            border-radius: 16px;
                        }
                    }
                }

                .introduce-company {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;

                    background-color: #EAEFF7FF;

                    li {
                        a {
                            .image {
                                margin-bottom: 0.5rem;
                                padding: 1.5rem;

                                background-color: #FFFFFFFF;
                                border-radius: 50%;

                                img {
                                    display: block;
                                }
                            }

                            p {
                                text-align: center;

                                font-weight: bold;
                                font-size: 0.9375rem;
                            }
                        }
                    }
                }
            }

            .guideline-wrapper {
                flex-grow: 1;
                flex-basis: 67%;

                display: flex;
                gap: 1.75rem;
                
                .guideline-menu, .guideline-visual {
                    flex-basis: 50%;
                }
                
                .guideline-menu {
                    text-align: right;

                    h4 {
                        font-size: 1.75rem;
                        margin-bottom: 1.5rem;
                    }

                    .guideline-list {
                        height: 300px;
                        overflow-y: scroll;

                        margin-bottom: 1.5rem;

                        p {
                            margin-bottom: 1.5rem;

                            font-size: 1.0625rem;
                            font-weight: 700;
                            color: #00000067;

                            cursor: pointer;

                            &.on {
                                color: #7777FFFF;
                            }

                            &:last-child {
                                margin-bottom: initial;
                            }
                        }
                    }

                    .guideline-pagination {
                        a {
                            padding: 0.125rem 1.25rem;

                            box-shadow: 4px 4px 4px #00000023;

                            background-color: #FFFFFFFF;
                            border: 1px solid #00000037;
                            border-radius: 16px;
                        }
                    }
                }

                .guideline-visual {
                    padding: 1.75rem;

                    background-image: url(../img/guideline-visual-bg.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    color: #FFFFFFFF;

                    li {
                        display: none;

                        &.on {
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                        }

                        h4 {
                            font-size: 1.5rem;
                        }

                        .stroke {
                            height: 1px;
                            width: 5rem;
                            background-color: #F5F5DCFF;
                        }

                        p {
                            font-size: 0.9375rem;
                            line-height: 1.6rem;
                        }

                        a {
                            align-self: start; // flexbox, stretch 로 인해 늘어졌음

                            padding: 0.25rem 1.25rem;

                            background-color: #FFFFFFFF;
                            border: 1px solid #00000067;
                            border-radius: 16px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #1E222AFF;

    .footer-upper {
        background-color: #313849FF;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1rem 0;
        }

        .footer-menu {
            display: flex;
            gap: 2.5rem;

            li {
                position: relative;

                a {
                    font-weight: bold;
                    color: #909095FF;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 0.875rem;
                    position: absolute;
                    left: -1.25rem;
                    top: 0.25rem;
                    background-color: #909095FF;
                }

                &:first-child::after {
                    display: none;
                }
            }
        }

        .footer-sitemap {
            position: relative;

            padding: 0.5rem 1rem;
            
            border: 1px solid #909095FF;
            color: #909095FF;
            font-weight: bold;
            cursor: pointer;

            ul {
                position: absolute;
                bottom: calc(100% + 1px);
                left: 0;

                width: 100%;
                
                
                outline: 1px solid #909095FF;
                background-color: #313849FF;
                
                li {
                    padding: 0.5rem 1rem;

                    a {
                        color: #FFFFFFFF;
                        font-size: 0.875rem;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .footer-lower {
        color: #909095FF;
        font-size: 0.9375rem;

        .container {
            padding: 2rem 0;

            display: flex;
            align-items: center;
            gap: 2rem;

            .image {
                flex-basis: 11%;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .footer-text {
                display: flex;
                justify-content: space-between;
                gap: 2rem;

                .left, .right {
                    flex-basis: 50%;
                }

                .left {
                    p {
                        &:first-child {
                            margin-bottom: 1rem;
                        }
                    }
                }

                .right {
                    h5 {
                        margin-bottom: 1rem;

                        font-size: 1rem;
                    }
                }
            }

            .footer-icon {
                flex-basis: 11%;

                .outlink, .certificated {
                    display: flex;
                    justify-content: flex-end;
                    gap: 0.25rem;
                }
            }
        }
    }
}

#fp-nav {
    ul {
        li {
            .fp-tooltip {
                left: 1.5rem;
                font-size: 0.9375rem;
                font-weight: bold;
                color: #5266CFFF;
                overflow: initial;
            }

            a {
                span {
                    width: 8px;
                    height: 8px;
                    opacity: 0.5;
                }

                &.active span {
                    width: 16px;
                    height: 16px;
                    opacity: 1;
                    background-color: #000000FF;
                    border: 4px solid #5266CFFF;
                }
            }
        }
    }
}