@charset "UTF-8";
/* THEME */
.theme-gradient-white-gray {background: linear-gradient(to bottom, #FFFFFF, #DEDEDE);}
.theme-red {background-color: rgb(218, 41, 28);}
.theme-champagne-gold {background-color: rgb(135, 118, 105);}
.theme-silver-tp {background-color: rgba(138, 141, 143, 0.22);}
.theme-white {background-color: #FFFFFF;}

/* FONTS */
body {font-family: 'Noto Sans KR', sans-serif;}

.fonts-thin {font-weight: 100;}
.fonts-regular {font-weight: 400;}
.fonts-medium {font-weight: 500;}
.fonts-bold {font-weight: 700;}

.fonts-headline {font-size: 3em;}
.fonts-headline-sub {font-size: 1.75em; line-height: 1.375em;}
.fonts-title {font-size: 1.125em;}
.fonts-description {font-size: 0.9em;}
.fonts-article {font-size: 0.875em;}
.fonts-smallest {font-size: 0.75em;}
.fonts-footer {font-size: 0.775em;}
.fonts-footer-address {font-size: 0.7em;}

.fonts-gray {color: #868789;}
.fonts-dark {color: #333333;}
.fonts-red {color: rgb(218, 41, 28);}
.fonts-white {color: #FFFFFF;}

/* MEASUREMENT AND POSITION */
.actualWorkspace {width: 980px; margin: 0 auto;}

.position-re {position: relative;}
.position-ab {position: absolute;}

.float-left {float: left;}
.float-right {float: right;}

.transit {transition: 0.22s;}

.cardboard {height: 216px;}