@charset "UTF-8";
.place-holder {
    background: white;
}

/* HEADER UPPER */

#header .wrap-upper-header {
    padding: 19px 0;
}

#header .wrap-upper-header .upper-header {
    display: flex; justify-content: space-between; align-items: center;
}

#header .wrap-upper-header .upper-header .social-site img {
    width: 32px;
}

#header .wrap-upper-header .upper-header .search-bar {
    /* width: 50%; */
    display: flex; justify-content: center;
}

#header .wrap-upper-header .upper-header .search-bar input {
    width: 250px;
    padding: 12px 40px;
    border: none;
    border-radius: 19px;
    
    transition: 0.2s;
}

#header .wrap-upper-header .upper-header .search-bar .wrap-icon {
    right: 24px;
    top: 6px;
}

#header .wrap-upper-header .upper-header .search-bar input:focus {
    width: 400px;
    outline: none;
}

/* HEADER LOWER */
#header .wrap-lower-header {
    border-top: 1.25px solid rgb(135, 118, 105);
    border-bottom: 1.25px solid rgb(135, 118, 105);
}

#header .wrap-lower-header .lower-header .gnb ul {
    display: flex; justify-content: space-between; align-items: center;
}

#header .wrap-lower-header .lower-header .gnb ul li {
    width: calc(100% / 6);
    height: 48px;
    border-left: 1px solid rgb(135, 118, 105);
}

#header .wrap-lower-header .lower-header .gnb ul li:last-child {
    border-right: 1px solid rgb(135, 118, 105);
}

#header .wrap-lower-header .lower-header .gnb ul li a {
    display: flex; justify-content: center; align-items: center;
    width: 100%;
    height: 100%;
}

/* MAIN SECTION */
#section-main {
    width: 100%;
    /* height: 1000px; */

    padding: 60px 0;

    background-image: url(../img/01background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-content {
    width: 25%;
    height: 216px;
}

/* SECTION ROW FIRST */
#section-main .section-row-first-left,
#section-main .section-row-first-right {
    width: 50%;
}

.section-row-first {
    margin-bottom: 16px;
}

.section-row-first,
.section-row-first-left .popular-location ul {
    display: flex;
    justify-content: space-between; gap: 16px;
}

.section-row-first-left .popular-location ul li {
    width: 100%;
    height: 216px;
}

/* SECTION ROW FIRST LEFT */
.section-row-first-left .wrap-form-board {
    height: 300px;
    margin-bottom: 16px;
    background: rgb(255, 255, 255);

    display: flex;
}

.section-row-first-left .wrap-form-board .form-board-selector {
    width: 25%;
}

.section-row-first-left .wrap-form-board .form-board-selector,
.section-row-first-left .wrap-form-board .form-board-selector ul {
    height: 100%;
}

.section-row-first-left .wrap-form-board .form-board-selector li {
    height: 25%;
    
    cursor: pointer;
}

.section-row-first-left .wrap-form-board .form-board {
    width: 75%;
    padding: 1rem;
}

/* float 를 이용해 좌우에 할당하고 싶다면, 위의 display: flex; 를 지우고
아래를 활성화할 것 */
/* .section-row-first-left .wrap-form-board .form-board-selector {float: left;}
.section-row-first-left .wrap-form-board .form-board {float: right;} */

/* SECTION ROW FIRST RIGHT */

/* .section-row-first-right .container-img {
    z-index: 0;
} */

/* SECTION ROW SECOND */
.section-row-second,
.section-row-third {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.section-row-second .swiper-wrapper .swiper-slide,
.swiper-button-next,
.swiper-button-prev {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
    top: 38%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    background-image: url(../img/btn-next.png);
    right: 0;
}

.swiper-button-prev {
    background-image: url(../img/btn-prev.png);
    left: 0;
}

.section-row-second .recommendation-hotel .container-text i,
.section-row-second .recommendation-landmark .container-text i {
    font-size: 0.75em;
    color: #ffffff;
}

.section-row-second .recommendation-hotel .container-text i:nth-child(-n+4),
.section-row-second .recommendation-landmark .container-text i:nth-child(-n+4) {
    color: #ffd700;
}

.section-row-second .swiper-wrapper .swiper-slide .container-text,
.section-row-second .container-content .container-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28%;
    background: #000;

    display: flex; justify-content: center; align-items: flex-start;
    flex-direction: column;
    padding-left: 1.25rem;
}

.section-row-second .swiper-wrapper .swiper-slide .container-text .stars,
.section-row-second .container-content .review span,
.section-row-second .container-content .review .stars {
    margin-top: -0.25rem;
}

.section-row-second .container-content .review {
    padding: 1.5rem;
}

/* SECTION ROW THIRD */
.section-row-third {
    margin-bottom: 0;
}

.section-row-third .container-content {
    overflow: hidden;
    background-size: 150%;
    background-position: center;
    transition: 0.22s;
}

.section-row-third .container-content:hover {
    background-size: 162%;
}

/* .section-row-third .container-content {
    overflow: hidden;
    transition: 0.22s;
    background-size: 150%;
}

.section-row-third .container-content:hover {
    background-size: 162%;
}

.section-row-third .container-content:nth-child(1):hover {
    background-position: 12% 17.5%;
}

.section-row-third .container-content:nth-child(2) {
    background-position: 40% 0;
}

.section-row-third .container-content:nth-child(2):hover {
    background-position: 44% 17.5%;
}

.section-row-third .container-content:nth-child(3):hover {
    background-position: 12% 17.5%;
}

.section-row-third .container-content:nth-child(4) {
    background-position: 100% 0;
}
.section-row-third .container-content:nth-child(4):hover {
    background-position: 88% 17.5%;
} */

.section-row-third .container-content .transparent-sheet {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex; justify-content: center; align-items: center;

    transition: 0.22s;
}

.section-row-third .container-content .transparent-sheet .btn {
    border-radius: 50%;
    width: 24px; height: 24px;
    background-color: none;
    border: 2px solid rgb(255, 255, 255);

    position: absolute;

    transition: 0.22s;
}

.section-row-third .container-content .transparent-sheet .btn:before {
    content: "";
    display: block;
    border-radius: 1px;
    width: 2px;
    height: 10px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-row-third .container-content .transparent-sheet .btn:after {
    content: "";
    display: block;
    border-radius: 1px;
    height: 2px;
    width: 10px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-row-third .container-content:hover .transparent-sheet .btn {
    transform: rotate(90deg);
}

.section-row-third .container-content .container-text.position-ab:nth-child(1),
.section-row-third .container-content .container-text.position-ab:nth-child(4) {
    top: 7.5%;
}

.section-row-third .container-content .container-text.position-ab:nth-child(2),
.section-row-third .container-content .container-text.position-ab:nth-child(3) {
    bottom: 7.5%;
}

.section-row-third .container-content .container-text h2 {
    display: flex; justify-content: center; align-items: center;
    margin-bottom: 4px;
}

.section-row-third .container-content .container-text h2 img {
    width: 24px;
    margin-right: 4px;
}

/* FOOTER */
#footer {
    background-color: #54585A;
    padding: 60px 0;
}

/* FOOTER UPPER */
#footer .footer-upper {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px;

    border-bottom: 1px solid #76807c9f;
}

/* FOOTER UPPER LEFT */
#footer .footer-upper-left {
    /* float: left */
}

#footer .footer-upper-left .footer-emblem {
    display: flex; align-items: center; gap: 8px;
    margin-bottom: 4px;
}

#footer .footer-upper-left .footer-emblem .container-img {
    width: 40px; height: 40px;
    display: flex; justify-content: center; align-items: center;
}

/* FOOTER UPPER RIGHT */
#footer .footer-upper-right {
    /* float: right; */
    width: 75%;
}

/* FOOTER LOWER */
.footer-lower ul {
    display: flex;
    justify-content: space-around;
}

.footer-lower ul li {
    position: relative;
}

.footer-lower ul li::after {
    content: "";
    display: block;
    background-color: #76807c9f;
    width: 1px;
    height: 16px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-40%);
}

.footer-lower ul li:last-child::after {
    display: none;
}

.footer-lower ul li a {
    display: block;
    padding: 16px 12px;
}