@charset "UTF-8";
.place-holder {
    background: white;
}

body {
    overflow-x: hidden;
}

/* HEADER UPPER */

#header .wrap-upper-header {
    padding: 19px 0;
}

#header .wrap-upper-header .upper-header {
    display: flex; justify-content: space-between; align-items: center;
}

#header .wrap-upper-header .upper-header .social-site img {
    width: 32px;
}

#header .wrap-upper-header .upper-header .search-bar {
    /* width: 50%; */
    display: flex; justify-content: center;
}

#header .wrap-upper-header .upper-header .search-bar input {
    width: 250px;
    padding: 12px 40px;
    border: none;
    border-radius: 19px;
    
    transition: 0.2s;
}

#header .wrap-upper-header .upper-header .search-bar .wrap-icon {
    right: 24px;
    top: 6px;
}

#header .wrap-upper-header .upper-header .search-bar input:focus {
    width: 400px;
    outline: none;
}

/* HEADER LOWER */
#header .wrap-lower-header {
    border-top: 1.25px solid #76807c56;
    border-bottom: 1.25px solid #76807c56;
}

#header .wrap-lower-header .lower-header .gnb > ul {
    display: flex; justify-content: center; align-items: center;
}

#header .wrap-lower-header .lower-header .gnb > ul > li {
    width: calc(980px / 5);
    height: 48px;
    border-left: 1px solid #76807c56;
}

#header .wrap-lower-header .lower-header .gnb > ul > li:hover,
#header .wrap-lower-header .lower-header .gnb > ul > li.active {
    background-color: #8A8D8F8A;
    color: #FFFFFF;
}

#header .wrap-lower-header .lower-header .gnb > ul > li:last-child {
    border-right: 1px solid #76807c56;
}

#header .wrap-lower-header .lower-header .gnb > ul > li > a {
    display: flex; justify-content: center; align-items: center;
    width: 100%;
    height: 100%;
}

#header .wrap-lower-header .lower-header .gnb > ul > li .submenu {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #33333355;
    display: none;
}

#header .wrap-lower-header .lower-header .gnb > ul > li:hover .submenu {
    display: block;
}

#header .wrap-lower-header .lower-header .gnb > ul > li .submenu ul {
    display: flex; justify-content: center; gap: 28px;
    font-weight: 100;
    /* color: #333333; */
}

#header .wrap-lower-header .lower-header .gnb > ul > li .submenu ul li {
    height: 40px;
    position: relative;
}

#header .wrap-lower-header .lower-header .gnb > ul > li .submenu ul li::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #33333333;
    top: 14px;
    right: -16px;
}

#header .wrap-lower-header .lower-header .gnb > ul > li .submenu ul li:last-child::after {
    display: none;
}

#header .wrap-lower-header .lower-header .gnb > ul > li .submenu ul li a {
    display: flex; justify-content: center; align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 12px;
}

/* MAIN SECTION */
#section-main {
    width: 100%;
    max-width: 1920px;

    padding: 100px 0 80px;

    background-image: url(../img/01background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-content {
    width: 25%;
    height: 216px;
}

.popular-location>ul>li,
.section-row-second .swiper .swiper-wrapper .swiper-slide,
.section-row-third .container-content {
    background-position: center;
    background-size: cover;
}


#section-main .section-row-first-right .decorations .container-img:nth-child(2) { /* a bunch of balloons */
    top: 200px;
    left: -650px;
    z-index: 0;

    animation-name: floating_Balloon;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

#section-main .section-row-first-right .decorations .container-img:nth-child(3) {
    top: 25px;
    left: 175px;
    z-index: 0;

    animation-name: floating_Balloon;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#section-main .section-row-first-right .decorations .container-img:nth-child(1) {
    top: 450px;
    right: -700px;
    z-index: 0;

    animation-name: flying_Airplane;
    animation-duration: 96s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: reverse; */
}

@keyframes floating_Balloon {
    to {
        transform: translate(0, 60px);
    }
}

@keyframes flying_Airplane {
    to {
        transform: translate(-2050px, -150px);
    }
}

/* SECTION ROW FIRST */


#section-main .section-row-first-left,
#section-main .section-row-first-right {
    width: 50%;
}

.section-row-first {
    margin-bottom: 16px;
}

.section-row-first,
.section-row-first-left .popular-location ul {
    display: flex;
    justify-content: space-between; gap: 16px;
}

.section-row-first-left .popular-location ul li {
    width: 100%;
    height: 216px;
}

/* SECTION ROW FIRST LEFT */
.section-row-first-left .wrap-form-board {
    height: 300px;
    margin-bottom: 16px;
    background: rgb(255, 255, 255);

    /* display: flex; */
}

.section-row-first-left .wrap-form-board .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    /* initializing swiper CSS */
    right: initial;
    top: initial;
    transform: initial;

    left: 0;
    width: 25%;
    height: 100%;
}

.section-row-first-left .wrap-form-board .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 100%));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 25%));
    border-radius: 0;

    background: var(--swiper-pagination-bullet-inactive-color, #8A8D8F);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.section-row-first-left .wrap-form-board .swiper-pagination-bullet:hover,
.section-row-first-left .wrap-form-board .swiper-pagination-bullet-active {
    background-color: rgb(218, 41, 28);
}

.section-row-first-left .wrap-form-board .swiper-pagination-bullet {
    display: flex; justify-content: center; align-items: center;
    color: #FFFFFF;
}

.section-row-first-left .wrap-form-board .swiper-pagination-bullet:nth-child(1)::after {
    content: "공항예약";
}
.section-row-first-left .wrap-form-board .swiper-pagination-bullet:nth-child(2)::after {
    content: "호텔예약";
}
.section-row-first-left .wrap-form-board .swiper-pagination-bullet:nth-child(3)::after {
    content: "렌트카";
}
.section-row-first-left .wrap-form-board .swiper-pagination-bullet:nth-child(4)::after {
    content: "휴양지";
}

.section-row-first-left .wrap-form-board .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.section-row-first-left .wrap-form-board .swiper-wrapper {
    width: 75%;
    position: absolute;
    right: 0;
}

.section-row-first-left .wrap-form-board .form-board {
    padding: 1.5rem;
}

.section-row-first-left .wrap-form-board .form-board fieldset {
    border: 0 none;
    margin-bottom: 12px;
}

.section-row-first-left .wrap-form-board .form-board label {
    display: block;
    font-size: 0.8375em;
    font-weight: 100;
    color: #666667;
}

.section-row-first-left .wrap-form-board .form-board .float-left,
.section-row-first-left .wrap-form-board .form-board .float-right {
    width: 48%;
}

.section-row-first-left .wrap-form-board .form-board input {
    text-indent: 4px;
}

.section-row-first-left .wrap-form-board .form-board input,
.section-row-first-left .wrap-form-board .form-board select {
    width: 100%;
    padding: 8px 4px;
}

.section-row-first-left .wrap-form-board .form-board button {
    border: 0 none;
    width: 100%;
    padding: 8px 0;

    margin-top: 4px;
}

.section-row-first .popular-location {
    z-index: 1;
}

.section-row-first .popular-location .container-text a>span {
    position: absolute; right: 18%;
}

.section-row-first .popular-location .container-img { /* ARROW! */
    position: absolute; right: 8%;
    cursor: pointer;
}

/* SECTION ROW FIRST RIGHT */
.section-row-first-right .container-text {
    text-shadow: 1px 1px 1px #EAEAEA;
}


/* SECTION ROW SECOND */
.section-row-second,
.section-row-third {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.section-row-second .swiper-wrapper .swiper-slide,
.swiper-button-next,
.swiper-button-prev {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
    top: 38%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    background-image: url(../img/btn-next.png);
    right: 0;
}

.swiper-button-prev {
    background-image: url(../img/btn-prev.png);
    left: 0;
}

.section-row-second .recommendation-hotel .container-text i,
.section-row-second .recommendation-landmark .container-text i {
    font-size: 0.75em;
    color: #ffffff;
}

.section-row-second .recommendation-hotel .container-text i:nth-child(-n+4),
.section-row-second .recommendation-landmark .container-text i:nth-child(-n+4),
.section-row-second .review .stars i:nth-child(-n+5) {
    color: #ffd700;
}

.section-row-first .popular-location .container-text,
.section-row-second .swiper-wrapper .swiper-slide .container-text,
.section-row-second .container-content .container-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28%;
    background: #000;

    display: flex; justify-content: center; align-items: flex-start;
    flex-direction: column;
    padding-left: 1.25rem;
}

.section-row-second .swiper-wrapper .swiper-slide .container-text .stars,
.section-row-second .container-content .review span,
.section-row-second .container-content .review .stars {
    margin-top: -0.25rem;
}

.section-row-second .container-content .review {
    padding: 1.5rem;
}

/* SECTION ROW THIRD */
.section-row-third {
    margin-bottom: 0;
}

.section-row-third .container-content {
    overflow: hidden;
    background-size: 150%;
    background-position: center;
    transition: 0.22s;
}

.section-row-third .container-content:hover {
    background-size: 162%;
}

/* .section-row-third .container-content {
    overflow: hidden;
    transition: 0.22s;
    background-size: 150%;
}

.section-row-third .container-content:hover {
    background-size: 162%;
}

.section-row-third .container-content:nth-child(1):hover {
    background-position: 12% 17.5%;
}

.section-row-third .container-content:nth-child(2) {
    background-position: 40% 0;
}

.section-row-third .container-content:nth-child(2):hover {
    background-position: 44% 17.5%;
}

.section-row-third .container-content:nth-child(3):hover {
    background-position: 12% 17.5%;
}

.section-row-third .container-content:nth-child(4) {
    background-position: 100% 0;
}
.section-row-third .container-content:nth-child(4):hover {
    background-position: 88% 17.5%;
} */

.section-row-third .container-content .transparent-sheet {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex; justify-content: center; align-items: center;

    transition: 0.22s;
}

.section-row-third .container-content .transparent-sheet .btn {
    border-radius: 50%;
    width: 24px; height: 24px;
    background-color: none;
    border: 2px solid rgb(255, 255, 255);

    position: absolute;

    transition: 0.22s;
}

.section-row-third .container-content .transparent-sheet .btn:before {
    content: "";
    display: block;
    border-radius: 1px;
    width: 2px;
    height: 10px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-row-third .container-content .transparent-sheet .btn:after {
    content: "";
    display: block;
    border-radius: 1px;
    height: 2px;
    width: 10px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-row-third .container-content:hover .transparent-sheet .btn {
    transform: rotate(90deg);
}

.section-row-third .container-content .container-text.position-ab:nth-child(1),
.section-row-third .container-content .container-text.position-ab:nth-child(4) {
    top: 7.5%;
}

.section-row-third .container-content .container-text.position-ab:nth-child(2),
.section-row-third .container-content .container-text.position-ab:nth-child(3) {
    bottom: 7.5%;
}


.section-row-third .container-content .container-text h2 {
    display: flex; justify-content: center; align-items: center;
    margin-bottom: 4px;
}

.section-row-third .container-content .container-text p {
    text-align: center;
}

.section-row-third .container-content .container-text h2 img {
    width: 24px;
    margin-right: 4px;
}

/* FOOTER */
#footer {
    background-color: #54585A;
    padding: 30px 0;
}

/* FOOTER UPPER */
#footer .footer-upper {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;

    border-bottom: 1px solid #76807c9f;
}

/* FOOTER UPPER LEFT */
#footer .footer-upper-left {
    /* float: left */
}

#footer .footer-upper-left .footer-emblem {
    display: flex; align-items: center; gap: 8px;
    margin-bottom: 4px;
}

#footer .footer-upper-left .footer-emblem .container-img {
    width: 40px; height: 40px;
    display: flex; justify-content: center; align-items: center;
}

/* FOOTER UPPER RIGHT */
#footer .footer-upper-right {
    /* float: right; */
    width: 75%;
}

/* FOOTER LOWER */
.footer-lower ul {
    display: flex;
    justify-content: space-around;
}

.footer-lower ul li {
    position: relative;
}

.footer-lower ul li::after {
    content: "";
    display: block;
    background-color: #76807C9F;
    width: 1px;
    height: 16px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-40%);
}

.footer-lower ul li:last-child::after {
    display: none;
}

.footer-lower ul li a {
    display: block;
    padding: 16px 12px;
}


/* SUBPAGES */
#section-sub.domestic-trip .visual {
    background-image: url(../img/screensheet_black.png), url(../img/subimg01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 100px 0 100px;
}

#section-sub.domestic-trip .content {
    padding-bottom: 50px;
}

#section-sub.domestic-trip .content .wrap-content {
    border-top: 4px solid rgb(218, 41, 28);
    border-bottom: 4px solid rgb(218, 41, 28);

    margin-top: -50px;
    padding: 32px;
    /* display: flex; justify-content: center; */
    /* gap: 16px; */
}

#section-sub.domestic-trip .content .wrap-content .site-location {
    right: 32px;
    top: 32px;
}

#section-sub.domestic-trip .content .wrap-content .site-location p a {
    text-decoration: underline;
    color: #4168e7;
}

/* #section-sub.domestic-trip .content .wrap-content .container-content,
#section-sub.domestic-trip .content .wrap-content .container-img {
    width: 50%;
} */

#section-sub.domestic-trip .content .wrap-content .container-img img {
    display: block;
    margin: 0 auto;
}