@charset "UTF-8";
/* GENERAL SETTINGS */
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; letter-spacing: -1.5%; color: #333333;}

/* COMMONLY USED */
.actualWorkspace {width: 1240px; margin: 0 auto;}

/* COLORS */
.theme-endeavour-blue {background-color: #005EB8;}
.theme-white {background-color: #FFFFFF;}
.fonts-white {color: #FFFFFF;}
.fonts-faded {color: #666666;}

/* MEASUREMENTS */
.fonts-headline {font-weight: 700; font-size: 4em; line-height: 1.1em;}
.fonts-title {font-weight: 900; font-size: 2em;}
.fonts-headline-sub {font-weight: 200; font-size: 1.3em;}
.fonts-desc-big {font-size: 1.625em;}
.fonts-subtitle {font-weight: 500; font-size: 1.25em;}
.fonts-article {font-size: 1em; line-height: 160%;}
.fonts-date {font-size: 0.875em;}

.btn-layout {border: 1px solid #FFFFFF; padding: 16px 40px;}

/* HEADER */

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 104px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #00000033;
}
#header.toggle {
    position: fixed;
}

.wrap-navigator {
    height: 100%;
    padding: 0 16px;
    display: flex;
    /* align-items: stretch; */
}

/* HEADER LOGO */
.wrap-navigator h1 {
    display: flex; align-items: center;
}

/* HEADER NAVIGATOR */
.navigator {
    margin-left: auto;
}

.navigator > ul {
    display: flex;
    height: 100%;
}

.navigator > ul > li {
    position: relative;
}


.navigator > ul > li > a {
    transition: 0.15s;
    /* .fonts-subtitle */
    font-size: 1.25em; font-weight: 500;
    height: 100%;
    width: 112px;
    display: flex; justify-content: center; align-items: center;
}
.navigator > ul > li.active > a {
    background-color: #005EB8;
    color: #FFFFFF;
}

.navigator > ul > li > a > img {
    display: none;
}

/* HEADER NAVIGATOR SUBMENU */
.navigator > ul > li .submenu {
    transition: 0.15s;
    font-weight: 300;
    background-color: #fff;
    position: absolute;
    width: 140%;
    padding: 10px;
    left: -22%;
    display: none;
    /* visibility: hidden; */
    /* opacity: 0.33; */
    /* transform: translateY(6px); */
}

.navigator > ul > li.active .submenu {
    display: block;
    /* visibility: visible; */
    /* opacity: 1; */
    /* transform: translateY(0); */
}

.navigator > ul > li .submenu > li > a {
    line-height: 1.875em;
    font-weight: 300;
}

/* MOBILE - HEADER TOGGLE BUTTON */
.btn-toggle {
    width: 40px;
    height: 40px;
    border: 1px solid #333333;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.btn-toggle .bar {
    width: 18px;
    height: 1px;
    background-color: #000000;
    position: absolute;
}

#header .btn-toggle .bar:nth-child(1) {transform: translateY(-8px);}
#header .btn-toggle .bar:nth-child(3) {transform: translateY(8px);}

#header.toggle .btn-toggle .bar:nth-child(1) {transform: rotate(45deg);}
#header.toggle .btn-toggle .bar:nth-child(2) {opacity: 0;}
#header.toggle .btn-toggle .bar:nth-child(3) {transform: rotate(-45deg);}

/* LANGUAGE SELECTOR */
.language-selector {
    display: flex; align-items: center;
    margin-left: 30px;
}

.language-selector div {
    width: 48px;
    height: 48px;
    margin-left: -1px;
}

.language-selector a {
    width: 100%;
    height: 100%;
    display: flex; justify-content: center; align-items: center;
    border: 1px solid #000000;
}

.language-selector .selected {
    border: none;
    background-color: #005EB8;
    color: #FFFFFF;
}

/* MOBILE - HEADER TOGGLE MENU */
.overlay {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000055;
}

.navigator-cloned {
    display: none;
    width: calc(100% - 56px);
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
}

.navigator-mobile .submenu {
    display: none;
}

/* SECTION 1 VISUAL */
/* SWIPER CUSTOM */ /* SECTION 1 SWIPER */
#sct01 .swiper {
    height: 100vh;
    background-color: goldenrod;
}

#sct01 .swiper .swiper-wrapper,
#sct01 .swiper .swiper-wrapper .swiper-slide {
    height: 100%;
}

#sct01 .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; justify-content: center; align-items: center;
}

#sct01 .swiper-slide .container-text {
    color: white;
    margin-top: -8%;
}


#sct01 .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 50%;
}

#sct01 .swiper-pagination-bullet-active {
    border: none;
    background: #FFFFFF;
}

#sct01 .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 35%; left: 50%;
    transform: translateX(-50%);
    width: initial;
}

#sct01 .swiper-button-next {background-image: url(../img/btn-right.png); background-size: cover; right: 14.5%;}
#sct01 .swiper-button-prev {background-image: url(../img/btn-left.png); background-size: cover; left: 14.5%;}
#sct01 .swiper-button-next::after {display: none;}
#sct01 .swiper-button-prev::after {display: none;}


/* SECTION 2 */
#sct02 {
    padding-bottom: 104px;
}

#sct02 .grid-container {
    height: 1240px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    position: relative;
    z-index: 3;
    margin-top: calc(-1240px / 4);
}

#sct02 .grid-item {
    padding: 50px;
}

#sct02 .grid-item .border {
    height: 1px;
    background-color: #FFFFFF;
    position: relative;
}

#sct02 .grid-item:nth-child(2) .border {width: 29%;}
#sct02 .grid-item:nth-child(6) .border {width: 8%;}
#sct02 .grid-item:nth-child(7) .border {width: 60%;}
#sct02 .grid-item:nth-child(8) .border {width: 15%;}
#sct02 .grid-item:nth-child(11) .border {width: 29%;}

#sct02 .grid-item:nth-child(1) {}
#sct02 .grid-item:nth-child(2) {grid-area: 1 / 2 / span 1 / span 2;} /* .container-text */
#sct02 .grid-item:nth-child(3) {} /* .container-icon */
#sct02 .grid-item:nth-child(4) {} /* .container-icon */
#sct02 .grid-item:nth-child(5) {} /* .container-icon */
#sct02 .grid-item:nth-child(6) {grid-area: 2 / 3 / span 1 / span 2;} /* .container-text */
#sct02 .grid-item:nth-child(7) {grid-area: 3 / 1 / span 2 / span 1;} /* .container-text-horizontal */
#sct02 .grid-item:nth-child(8) {grid-area: 3 / 2 / span 1 / span 2;} /* .container-text */
#sct02 .grid-item:nth-child(9) {} /* .container-icon */
#sct02 .grid-item:nth-child(10) {} /* .container-icon */
#sct02 .grid-item:nth-child(11) {grid-area: 4 / 3 / span 1 / span 2;} /* .container-text */

#sct02 .container-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sct02 .container-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* temporal */
#sct02 .grid-item {
    background-color: #CACACA;
    border: 1px dotted #FFFFFF;
}


/* SECTION 3 */
#sct03 {
    /* height: 520px; */
    padding: 112px 0;
    background-color: #CACACA; /* TEMPORAL */
}

#sct03 .wrap-scroll {
    height: 148px;
    width: 100%;
}

#sct03 .wrap-scroll .scroll-list {
    display: flex;
}

#sct03 .wrap-scroll .scroll-list li {
    background-color: #FFFFFF;
}

#sct03 .wrap-scroll .scroll-list li img {
    height: 100%;
}