@charset "UTF-8";
/* GENERAL SETTINGS */
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; letter-spacing: -1.5%; color: #333333;}

/* COMMONLY USED */
.actualWorkspace {width: 1240px; margin: 0 auto;}

/* COLORS */
.theme-endeavour-blue {background-color: #005EB8;}
.theme-white {background-color: #FFFFFF;}
.fonts-white {color: #FFFFFF;}
.fonts-faded {color: #777879;}

/* MEASUREMENTS */
.fonts-headline {font-weight: 700; font-size: 4em; line-height: 1.1em;}
.fonts-title {font-weight: 900; font-size: 2em;}
.fonts-headline-sub {font-weight: 200; font-size: 1.3em;}
.fonts-desc-big {font-size: 1.625em;}
.fonts-subtitle {font-weight: 500; font-size: 1.25em;}
.fonts-article {font-size: 1em; line-height: 160%;}
.fonts-date {font-size: 0.875em;}

.btn-layout {border: 1px solid #FFFFFF; padding: 16px 40px;}

.forMobile {
    display: none;
}

/* HEADER */

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 104px;
    background-color: transparent;
    box-shadow: none;
}

#header.scrolled {
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #00000033;
}

#header.toggle {
    position: fixed !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px !important;
}

.wrap-navigator {
    height: 100%;
    padding: 0 16px;
    display: flex;
    /* align-items: stretch; */
}

/* HEADER LOGO */
.wrap-navigator h1 {
    display: flex; align-items: center;
}

/* HEADER NAVIGATOR */
.navigator {
    margin-left: auto;
}

.navigator > ul {
    display: flex;
    height: 100%;
}

.navigator > ul > li {
    position: relative;
}


.navigator > ul > li > a {
    transition: 0.15s;
    /* .fonts-subtitle */
    font-size: 1.25em; font-weight: 500;
    height: 100%;
    width: 112px;
    display: flex; justify-content: center; align-items: center;
    color: #FFFFFF;
}

.navigator > ul > li > a.scrolled {
    color: initial;
}
.navigator > ul > li:hover > a,
.navigator > ul > li.active > a,
.navigator > ul > li.active > a.scrolled {
    background-color: #005EB8;
    color: #FFFFFF;
}


.navigator > ul > li > a > img {
    display: none;
}

/* HEADER NAVIGATOR SUBMENU */
.navigator > ul > li .submenu {
    transition: 0.15s;
    font-weight: 300;
    background-color: #fff;
    position: absolute;
    width: 140%;
    padding: 10px;
    left: -22%;
    display: none;
    /* visibility: hidden; */
    /* opacity: 0.33; */
    /* transform: translateY(6px); */
}

.navigator > ul > li.active .submenu {
    display: block;
    /* visibility: visible; */
    /* opacity: 1; */
    /* transform: translateY(0); */
}

.navigator > ul > li .submenu > li > a {
    display: block;
    text-indent: 4px;
    line-height: 2.875em;
    /* font-weight: 300; */
}

.navigator > ul > li .submenu > li > a:hover {
    background-color: #EAEAEA;
}

/* MOBILE - HEADER TOGGLE BUTTON */
.btn-toggle {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.btn-toggle .bar {
    width: 18px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
}

.btn-toggle.scrolled,
#header.toggle .btn-toggle {
    border: 1px solid #000000;
}

.btn-toggle .bar.scrolled,
#header.toggle .btn-toggle .bar {
    background-color: #000000;
}

#header .btn-toggle .bar:nth-child(1) {transform: translateY(-8px);}
#header .btn-toggle .bar:nth-child(3) {transform: translateY(8px);}

#header.toggle .btn-toggle .bar:nth-child(1) {transform: rotate(45deg);}
#header.toggle .btn-toggle .bar:nth-child(2) {opacity: 0;}
#header.toggle .btn-toggle .bar:nth-child(3) {transform: rotate(-45deg);}

/* LANGUAGE SELECTOR */
.language-selector {
    display: flex; align-items: center;
    margin-left: 30px;
}

.language-selector div {
    width: 48px;
    height: 48px;
    margin-left: -1px;
}

.language-selector a {
    width: 100%;
    height: 100%;
    display: flex; justify-content: center; align-items: center;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.language-selector a.scrolled {
    color: initial;
    border: 1px solid #000000;
}

.language-selector .selected {
    border: none !important;
    background-color: #005EB8;
    color: #FFFFFF !important;
}

/* MOBILE - HEADER TOGGLE MENU */
.overlay {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000055;
}

.navigator-cloned {
    display: none;
    width: calc(100% - 56px);
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9;
    top: 0;
    left: -100%;
}

.navigator-mobile .submenu {
    display: none;
}

/* SECTION 1 VISUAL */
/* SWIPER CUSTOM */ /* SECTION 1 SWIPER */
#sct01 .swiper {
    height: 100vh;
    background-color: goldenrod;
}

#sct01 .swiper .swiper-wrapper,
#sct01 .swiper .swiper-wrapper .swiper-slide {
    height: 100%;
}

#sct01 .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; justify-content: center; align-items: center;
}

#sct01 .swiper-slide .container-text {
    color: white;
    margin-top: -15em;
}

#sct01 .swiper-slide .container-text h2 {
    line-height: 1.3em;
}


#sct01 .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    background: none;
    border-radius: 50%;
}

#sct01 .swiper-pagination-bullet-active {
    border: none;
    background: #FFFFFF;
}

#sct01 .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 360px; left: 50%;
    transform: translateX(-50%);
    width: initial;
}

#sct01 .swiper-button-next {background-image: url(../img/btn-right.png); background-size: cover; right: 14.5%;}
#sct01 .swiper-button-prev {background-image: url(../img/btn-left.png); background-size: cover; left: 14.5%;}
#sct01 .swiper-button-next::after {display: none;}
#sct01 .swiper-button-prev::after {display: none;}


/* SECTION 2 */
#sct02 {
    padding-bottom: 104px;
}

#sct02 .grid-container {
    height: 1240px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    position: relative;
    z-index: 3;
    margin-top: calc(-1240px / 4);
}

#sct02 .grid-item {
    padding: 40px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

#sct02 .grid-item .btn-more {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

#sct02 .grid-item .border {
    height: 1px;
    background-color: #FFFFFF;
    position: relative;
}

#sct02 .grid-item:nth-child(2) .border {width: 29%;}
#sct02 .grid-item:nth-child(6) .border {width: 8%;}
#sct02 .grid-item:nth-child(7) .border {width: 60%;}
#sct02 .grid-item:nth-child(8) .border {width: 15%;}
#sct02 .grid-item:nth-child(11) .border {width: 29%;}

#sct02 .grid-item:nth-child(1) {}
#sct02 .grid-item:nth-child(2) {grid-area: 1 / 2 / span 1 / span 2;} /* .container-text */
#sct02 .grid-item:nth-child(3) {} /* .container-icon */
#sct02 .grid-item:nth-child(4) {} /* .container-icon */
#sct02 .grid-item:nth-child(5) {} /* .container-icon */
#sct02 .grid-item:nth-child(6) {grid-area: 2 / 3 / span 1 / span 2;} /* .container-text */
#sct02 .grid-item:nth-child(7) {grid-area: 3 / 1 / span 2 / span 1;} /* .container-text-horizontal */
#sct02 .grid-item:nth-child(8) {grid-area: 3 / 2 / span 1 / span 2;} /* .container-text */
#sct02 .grid-item:nth-child(9) {} /* .container-icon */
#sct02 .grid-item:nth-child(10) {} /* .container-icon */
#sct02 .grid-item:nth-child(11) {grid-area: 4 / 3 / span 1 / span 2;} /* .container-text */

/* SECTION 2 GRID 1 MODAL */
#sct02 .grid-item:nth-child(1) .modal-btn-thumbnail,
#sct02 .grid-item:nth-child(1) .modal-btn-thumbnail a {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sct02 .grid-item:nth-child(1) .modal-btn-thumbnail img {
    position: absolute;
}

#sct02 .grid-item:nth-child(1) .modal-btn-thumbnail .btn-play {
    transition: 0.3s;
}
#sct02 .grid-item:nth-child(1) .modal-btn-thumbnail .btn-play:hover {
    opacity: 0;
}

#sct02 .container-icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#sct02 .container-text,
#sct02 .container-text-horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* temporal */
#sct02 .grid-item {
    background-color: #CACACA;
    border: 1px dotted #FFFFFF;
}


/* SECTION 3 */
#sct03 {
    padding: 112px 0;
    background-image: url(../img/sct03-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sct03 .wrap-scroll {
    height: 148px;
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 72px;
}

#sct03 .wrap-scroll .scroll-list {
    display: flex;
    gap: 72px;
    transform: translate(0, 0);
    animation: logoScroll 72s linear infinite;
}

#sct03 .wrap-scroll .scroll-list li img {
    height: 100%;
}

@keyframes logoScroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(calc(-100% - 72px), 0);
    }
}

/* SECTION 04 */
#sct04 .actualWorkspace {
    padding: 102px 0;
}

#sct04 .wrap-news {
    width: 100%;
    display: flex;
    /* grid-template-columns: calc((100% / 3) - 6px) calc((100% / 3) - 6px) calc((100% / 3) - 6px); */
    /* grid-template-rows: 620px; */
    /* column-gap: 6px; */
    justify-content: space-between;
}

#sct04 .wrap-news .news {
    border: 1px solid #DEDEDE;
    width: calc((100% / 3) - 6px);
    display: flex;
    flex-direction: column;
}

#sct04 .wrap-news .news .container-img,
#sct04 .wrap-news .news .container-text {
    height: 50%;
}

#sct04 .wrap-news .news .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#sct04 .wrap-news .news .container-img img {width: 127%;}
#sct04 .wrap-news .news:nth-child(3) .container-img img {width: initial; height: 127%;}

#sct04 .wrap-news .news .container-text {
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sct04 .wrap-news .news:nth-child(2) .container-text {order: 1;}
#sct04 .wrap-news .news:nth-child(2) .container-img {order: 2;}

#sct04 .wrap-news .news .container-text .article {
    height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#sct04 .wrap-news .news .container-text .article h4 {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2em;
    /* margin-bottom: 24px; */
}

#sct04 .wrap-news .news .container-text .article p:last-child {
    height: 0;
}

#sct04 .wrap-news .news .container-text .date {
    text-align: right;
}

/* FOOTER */
/* FOOTER FAQ */
.wrap-faq {
    padding: 66px 0;
    background-image: url(../img/faq-background.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-faq .container-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.wrap-faq .container-text .btn-layout {
    width: fit-content;
}

/* FOOTER MENU BAR */
/* FOOTER MENU BAR UPPER */
.wrap-footer-bar {
    background-color: #F2F2F2;
    padding: 97px 0 34px;
}

.wrap-footer-bar a {
    color: #555658;
}

.wrap-footer-bar .footer-bar-upper {
    border-bottom: 1px solid #5556581F;
}

.wrap-footer-bar .footer-bar-upper .wrap-footer-menu {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 95px;
}

.wrap-footer-bar .footer-bar-upper .wrap-footer-menu ul {
    flex-basis: 14%;
    white-space: nowrap;
}

.wrap-footer-bar .footer-bar-upper .wrap-footer-menu ul li,
.wrap-footer-bar .footer-bar-upper .wrap-footer-privacy ul li {
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 1em;
}

.wrap-footer-bar .footer-bar-upper .wrap-footer-menu ul li:first-child a {
    font-size: 1.3em;
    font-weight: 700;
    color: #333333;
}

.wrap-footer-bar .footer-bar-upper .wrap-footer-privacy ul:after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 24px;
}

.wrap-footer-bar .footer-bar-upper .wrap-footer-privacy ul li {
    float: left;
    margin-right: 1em;
}

/* FOOTER MENU BAR LOWER */
.wrap-footer-bar .footer-bar-lower {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

/* NEWS MODAL - MOBILE */
.overlay-modal {
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000055;
}

.news-modal {
    display: none;
    width: 100%;
    height: 84%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 10;
    bottom: -100%;
    left: 0;
    flex-direction: column;
    border-radius: 32px 0 0 0;
}

.news-modal .modal-upper-bar {
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
}

.news-modal .modal-upper-bar h4 {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-modal .modal-upper-bar .modal-close {
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-modal .modal-upper-bar .modal-close .bar {
    background-color: #000000;
    position: absolute;
    width: 12px;
    height: 3px;
}

.news-modal .modal-upper-bar .modal-close .bar:nth-child(1) {transform: rotate(45deg);}
.news-modal .modal-upper-bar .modal-close .bar:nth-child(2) {transform: rotate(-45deg);}

.news-modal .modal-article {
    overflow-y: auto;
}

.news-modal .modal-article .container-img {
    width: 100%;
    height: fit-content;
}

.news-modal .modal-article .container-img img {
    width: inherit;
}

.news-modal .modal-article .container-text {
    padding: 16px;
}

.news-modal .modal-article .container-text p:nth-child(2) {
    font-weight: 500;
}

.news-modal .modal-article .container-text h4,
.news-modal .modal-article .container-text p {
    margin-bottom: 16px;
}



/* SUBPAGE */
/* SUBPAGE */
/* SUBPAGE */
/* SUBPAGE */
/* SUBPAGE */

/* SUBPAGE - VISUAL */
.wrap-visual {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 588px;
    position: relative;
    display: flex;
}

/* SUBPAGE - VISUAL - BACKGROUNDIMAGES */
.wrap-visual.service {background-image: url(../img/sub01-visual.png);}
/* SUBPAGE - VISUAL - BACKGROUNDIMAGES */

.wrap-visual h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrap-visual .actualWorkspace {
    position: relative;
}

.wrap-visual .depth2-selector {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.wrap-visual .depth2-selector ul {
    display: flex;
}

.wrap-visual .depth2-selector ul li {
    width: calc(100% / 3);
}

.wrap-visual .depth2-selector ul li a {
    display: block;
    padding: 28px 0;
    text-align: center;
    font-size: 1.75em; font-weight: 500;
    color: #333333;
    background-color: #FFFFFF;
}

.wrap-visual .depth2-selector ul li:hover a,
.wrap-visual .depth2-selector ul li.active a {
    background-color: #005EB8;
    color: #FFFFFF;
}

/* SUBPAGE - CONTENT */
.subpage .container-content {
    text-align: center;
}