@charset "UTF-8";
/* 1200px */
/* 1200px */
/* 1200px */
@media screen and (max-width: 1199px){
    .actualWorkspace {
        /* was in COMMONLY USED */
        width: 100%;
    }
}

/* 992px */
/* 992px */
/* 992px */
@media screen and (max-width: 991px){
    /* MEASUREMENTS */
    .fonts-headline {font-weight: 700; font-size: 2.25em; line-height: 1.0875em;}
    .fonts-title {font-weight: 700; font-size: 1.6em;}
    .fonts-headline-sub {font-weight: 200; font-size: 1.075em;}
    /* .fonts-desc-big {font-size: 1.625em;} */
    /* .fonts-subtitle {font-weight: 500; font-size: 1.25em;} */
    /* .fonts-article {font-size: 1em; line-height: 160%;} */
    /* .fonts-date {font-size: 0.875em;} */

    /* .btn-layout {border: 1px solid #FFFFFF; padding: 16px 40px;} */

    /* SECTION 1 VISUAL */
    #sct01 .swiper-slide .container-text {
        padding: 40px;
        margin-top: initial;
    }

    #sct01 .swiper-slide .container-text p {
        display: none;
    }

    #sct01 .swiper-button-next {display: none;}
    #sct01 .swiper-button-prev {display: none;}
}

/* 768px */
/* 768px */
/* 768px */
@media screen and (max-width: 767px){
    .forMobile {
        display: block;
    }

    #header {
        height: 9.5vh;
    }

    .wrap-navigator {
        padding: 0 16px;
        justify-content: space-between;
    }
    
    /* PC NAVIGATOR AND PC LANGUAGE SELECTOR OFF */
    .navigator {
        display: none;
    }

    .language-selector {
        display: none;
    }
    
    /* MOBILE TOGGLE BUTTON */
    .btn-toggle {
        align-self: center;
        display: flex;
    }

    /* MOBILE NAVIGATOR CLONED */
    .navigator-cloned {
        display: block;
    }

    .navigator-mobile {
        padding-top: 120px;
    }

    .navigator-cloned .navigator-mobile > ul > li {
        /* .fonts-subtitle */
        font-size: 1.25em; font-weight: 500;
        margin-bottom: 16px;
    }

    .navigator-cloned .navigator-mobile > ul > li:after {
        /* Borderlines */
        content: "";
        display: block;
        margin: 1px auto;
        width: 80%;
        height: 1px;
        background-color: #EAEAEA;
    }
    .navigator-cloned .navigator-mobile > ul > li:last-child::after {
        display: none;
    }

    .navigator-cloned .navigator-mobile > ul > li > a {
        min-height: 40px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigator-cloned .navigator-mobile > ul > li > a > img {
        display: block;
    }

    .navigator-cloned .navigator-mobile > ul > li.active > a > img {
        transform: rotate(-90deg);
    }

    .navigator-cloned .navigator-mobile > ul > li .submenu {
        font-weight: 300;
        margin: 0 40px;
    }
    .navigator-cloned .navigator-mobile > ul > li.active .submenu {
        display: block;
    }
    
    .navigator-cloned .navigator-mobile > ul > li .submenu > li {
        background-color: #EAEAEA;
        width: 88%;
        margin-left: auto;
        text-indent: 8px;
        padding: 8px;
        margin-bottom: 1px;
    }
/* SECTION 1 VISUAL */
/* SWIPER CUSTOM */ /* SECTION 1 SWIPER */
    #sct01 .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 5%;
    }

    /* SECTION 2 */
    .namer-sct02,
    .namer-sct04 {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .namer-sct02 .border,
    .namer-sct04 .border {
        background-color: #005EB8;
        height: 1px;
        width: 64px;
    }

    #sct02 {
        padding-bottom: initial;
    }

    #sct02 .grid-container {
        height: initial;
        display: flex;
        /* grid-template-columns: 25% 25% 25% 25%; */
        /* grid-template-rows: 25% 25% 25% 25%; */
        /* position: relative; */
        /* z-index: 3; */
        flex-direction: column;
        margin-top: initial;
    }

    #sct02 .grid-item .container-text {
        flex-direction: row;
        align-items: baseline;
    }
    
    #sct02 .grid-item .container-text-horizontal {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 20px;
    }

    #sct02 .grid-item:nth-child(1) {display: none;}
    #sct02 .grid-item:nth-child(2) {} /* .container-text */
    #sct02 .grid-item:nth-child(3) {display: none;} /* .container-icon */
    #sct02 .grid-item:nth-child(4) {display: none;} /* .container-icon */
    #sct02 .grid-item:nth-child(5) {display: none;} /* .container-icon */
    #sct02 .grid-item:nth-child(6) {} /* .container-text */
    #sct02 .grid-item:nth-child(7) {} /* .container-text-horizontal */
    #sct02 .grid-item:nth-child(8) {} /* .container-text */
    #sct02 .grid-item:nth-child(9) {display: none;} /* .container-icon */
    #sct02 .grid-item:nth-child(10) {display: none;} /* .container-icon */
    #sct02 .grid-item:nth-child(11) {} /* .container-text */

    #sct02 .grid-item p,
    #sct02 .grid-item a {
        display: none;
    }

    #sct02 .grid-item:nth-child(2) .border {width: initial; flex-grow: 1;}
    #sct02 .grid-item:nth-child(6) .border {width: initial; flex-grow: 1;}
    #sct02 .grid-item:nth-child(7) .border {width: initial; flex-grow: 1;}
    #sct02 .grid-item:nth-child(8) .border {width: initial; flex-grow: 1;}
    #sct02 .grid-item:nth-child(11) .border {width: initial; flex-grow: 1;}

    #sct02 .grid-item:nth-child(2) .border:after {content: ""; display: block; width: 1px; height: 24px; background-color: #FFFFFF; transform: rotate(-45deg); position: absolute; right: 8px; bottom: -3px;}
    #sct02 .grid-item:nth-child(6) .border:after {content: ""; display: block; width: 1px; height: 24px; background-color: #FFFFFF; transform: rotate(-45deg); position: absolute; right: 8px; bottom: -3px;}
    #sct02 .grid-item:nth-child(7) .border:after {content: ""; display: block; width: 1px; height: 24px; background-color: #FFFFFF; transform: rotate(-45deg); position: absolute; right: 8px; bottom: -3px;}
    #sct02 .grid-item:nth-child(8) .border:after {content: ""; display: block; width: 1px; height: 24px; background-color: #FFFFFF; transform: rotate(-45deg); position: absolute; right: 8px; bottom: -3px;}
    #sct02 .grid-item:nth-child(11) .border:after {content: ""; display: block; width: 1px; height: 24px; background-color: #FFFFFF; transform: rotate(-45deg); position: absolute; right: 8px; bottom: -3px;}

    /* SECTION 3 */
    #sct03 {
        display: none;
    }

    /* SECTION 4 */
    #sct04 .actualWorkspace {
        padding: initial;
    }

    #sct04 .wrap-news {
        flex-direction: column;
        gap: 16px;
    }

    #sct04 .wrap-news .news {
        border: initial;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #sct04 .wrap-news .news .container-text {
        position: absolute;
        bottom: 0;
        height: initial;
        width: 100%;
        background-image: linear-gradient(to bottom, #FFFFFF00, #0000008F);
    }

    #sct04 .wrap-news .news .container-text .article h4 {
        color: #FFFFFF;
    }

    #sct04 .wrap-news .news .container-text .article p,
    #sct04 .wrap-news .news .container-text .date {
        display: none;
    }

    #sct04 .wrap-news .news:nth-child(2) .container-text {order: initial;}
    #sct04 .wrap-news .news:nth-child(2) .container-img {order: initial;}

    /* FOOTER */
    /* FOOTER FAQ */
    .wrap-faq {
        padding: 18px 0;
    }

    .wrap-faq .container-text {
        gap: 16px;
    }

    .wrap-faq .container-text h3 {
        display: none;
    }

    /* FOOTER MENU BAR */
    /* FOOTER MENU BAR UPPER */
    .wrap-footer-bar {
        padding: 20px;
    }

    .wrap-footer-bar .footer-bar-upper {
        border-bottom: initial;
    }

    .wrap-footer-bar .footer-bar-upper .wrap-footer-menu {
        display: none;
    }

    .wrap-footer-bar .footer-bar-upper .wrap-footer-privacy ul:after {
        margin-bottom: initial;
    }

    /* FOOTER MENU BAR LOWER */
    .wrap-footer-bar .footer-bar-lower {
        align-items: center;
        padding: initial;
    }

    .wrap-footer-bar .footer-bar-lower .container-img {
        padding-right: 16px;
    }

    .wrap-footer-bar .footer-bar-lower .container-img a img {
        width: 100px;
    }
}